---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Welcome to AirBnb</h1>
  <p>
    <%= link_to "Meet our team", "team.html", class: "btn btn-primary" %>
  </p>
</div>
