---
title: Le Wagon Middleman boilerplate
---
<%= partial "banner" %>
<div class="welcome text-center">
    <%= partial "container" %>
    <h1>Who is behind le wagon?</h1>
    <p class="padded"><%= link_to "Meet our team", "team.html", class: "btn btn-primary" %></p>
</div>
